@page "/file-upload"
@using MemoARCenter.Helpers.Models.System
@using MemoARCenter.Helpers
@using Microsoft.Extensions.Options
@using Serilog

@rendermode InteractiveWebAssembly
@inject IJSRuntime JSRuntime;

<div class="file-upload-container">

    <div class="album-name-container">
        <label for="album-name" class="album-name-label">Select Album Name</label>
        <input type="text" id="album-name" @bind="AlbumName" class="album-name-input" placeholder="Enter album name" />
    </div>

    <h3 class="header">Upload Images</h3>

    <div class="file-input-area" >
        <InputFile disabled="@(!_IsElementEnabled)" accept="image/*" enctype="multipart/form-data" id="file-input" OnChange="HandleImageSelected" Multiple="true" maxFiles="20" class="file-input" />
        <label for="file-input" class="file-upload-button">
            Select Images
        </label>
    </div>

    @if (_isImagesLoading)
    {
        <p class="loading-message">Loading Images...</p>
    }

    @if (_uploadedImages.Count > 0)
    {
        <div class="preview-area">
            @foreach (var image in _uploadedImages)
            {
                <div class="preview-item">
                    <img src="@image.DataUrl" alt="@image.Name" class="preview-image" />
                    <div class="video-selection-container">
                        <button type="button" class="file-upload-button video-upload-button" @onclick="() => TriggerVideoInputClick(image.Name)">
                            Select Video
                        </button>
                        <InputFile id="@($"video-input-{image.Name}")" accept="video/*" class="file-input video-input hidden" OnChange="@((e) => HandleVideoSelected(e, image))" />

                        @if (!image.IsVideoLoaded && !_isIphone)
                        {
                            <p class="loading-message">Loading video...</p>
                        }
                        @if (!string.IsNullOrEmpty(image.AssociatedVideoUrl))
                        {
                            <div>
                                <video src="@image.AssociatedVideoUrl" class="preview-video" controls
                                @onloadeddata="() => MarkVideoAsLoaded(image)">
                                </video>

                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="empty-preview">No images selected yet.</p>
    }
    <div class="button-area">
        <button @onclick="UploadImagesAndVideos" disabled="@(!_IsElementEnabled)" class="upload-button">Upload</button>
    </div>

    @if (!string.IsNullOrEmpty(_uploadStatus))
    {
        <p class="upload-status">@_uploadStatus</p>
    }

    @if (!string.IsNullOrEmpty(_qrCodeImageData))
    {
        <div class="qr-code-area">
            <h4 class="preview-header">Your QR Code:</h4>
            <a href="@_qrCodeURL" target="_blank">
                <img src="@_qrCodeImageData" alt="QR Code" class="qr-code" />
            </a>
        </div>
    }

</div>

<script src="site.js"></script>
