@page "/upload-zip"
@rendermode InteractiveServer
@using MemoARCenter.Client.Pages
@using Microsoft.AspNetCore.Components.Forms

<LoadingOverlay @ref="_loadingOverlay" IsVisible="true" LoadingMessage="" />

<div class="file-upload-container">
    <h3 class="header">Upload Archive</h3>

    <div class="album-name-container">
        <label for="album-name" class="album-name-label">Select Album Name</label>
        <input type="text" id="album-name" @bind="AlbumName" class="album-name-input" placeholder="Enter album name" />
    </div>

    <div class="file-input-area">
        <label for="file-upload" class="file-upload-button">Select File</label>
        <InputFile id="file-upload" accept="@(string.Join(",", _zipExtensions))" class="file-input" OnChange="HandleFileChange" />
    </div>

    <div class="button-area">
        <button @onclick="UploadFile" class="upload-button" disabled="@(!_isFileSelected || string.IsNullOrEmpty(AlbumName))">Upload</button>
    </div>

    <p class="upload-status">@_statusMessage</p>

    <SmallLoadingSpinner @ref="_loadingSpinner" />

    <QRCodeComponent QRCodeURL="@_qrCodeURL" QRCodeImageData="@_qrCodeImageData" />

</div>

